@font-face {
    font-family: "evil_empire";
    src: url('font/EvilEmpire.otf');
}

body {
    background-color: black;
    color: white;
    font-family: evil_empire;
}

h1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
}

p {
    text-align: center;
}