@font-face {
    font-family: "evil_empire";
    src: url('font/EvilEmpire.otf');
}

html,
body {
  height: 100%;
  background-color: black;
  font-family: Helvetica;
}

#text {
    font-family: evil_empire;
}

#main-div {
  background-color: black;
}

#nick {
  font-family: evil_empire;
  font-size: 84px;
}

table tr th {
  text-align: center;
  background-color: black !important;
  color: white !important;
  text-decoration: none !important;
}

a, a:focus, a:active {
  text-decoration: none !important;
  color: white !important;
}