@font-face {
    font-family: "evil_empire";
    src: url('font/EvilEmpire.otf');
}

html,
body {
    height: 100%;
    margin: 0; /* Remova a margem lateral fixa */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: black;
    color: white;
}

/* Estilo para o contêiner principal */
.main-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.1rem;
    align-items: center;
    flex-direction: column; /* Centraliza em coluna */
    height: 100%;
    width: 100%;
}

/* Estilo para o contêiner dos nomes */
.name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: fantasy;
}

#first_name, #last_name {
    font-size: 30px;
    margin: 0 5px; /* Espaçamento entre os elementos */
}

#aka {
    font-size: 18px;
    margin: 0 2px; /* Espaçamento entre os elementos */
}

/* Estilo para o contêiner do apelido */
.nickname-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    font-family: evil_empire;
    width: 100%; /* Garante que o contêiner ocupe toda a largura disponível */
}

#nick {
    font-size: 108px;
}
