@font-face {
    font-family: "evil_empire";
    src: url('font/EvilEmpire.otf');
}

html,
body {
    height: 100%;
    margin-left: 18.01%;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
}

/* Estilo para o contêiner principal */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Estilo para o contêiner dos nomes */
.name-container {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: evil_empire;
}

#first_name, #last_name {
    font-size: 48px;
    /* Tamanho da fonte para os elementos laterais */
    margin: 0 10px;
    /* Espaçamento entre os elementos */
}

#aka {
    font-size: 32px;
    /* Tamanho da fonte para o elemento central */
    margin: 0 2px -5px;
    /* Espaçamento entre os elementos */
}

body::before, body::after, .main-container::before, .main-container::after {
    content: '';
    position: absolute;
    background: red;
    z-index: 9999;
  }
  
  body::before {
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
  }
  
  body::after {
    height: 1px;
    width: 100%;
    left: 0;
    top: 50%;
  }
  
  .main-container::before {
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
  }
  
  .main-container::after {
    height: 1px;
    width: 100%;
    left: 0;
    top: 50%;
  }